<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Admin Dashboard: Commissions</title>
        <link rel="stylesheet" href="../src/libs/style/nick-style-lib.css">
        <link rel="stylesheet" href="../src/libs/style/nick-dark-mode.css">
        <link rel="stylesheet" href="../src/libs/style/comedical.css">

        <link href="../index.html" rel="start">
    </head>
    <body>
        <img src="/views/images/comedical-logo-new.jpg" class="comedical-logo-header">
        <a  class="neutral-button" style="display: block; width: 400px" href="../index.html" >Home</a>
        <!-- *************** move inline styling to css when you refactor the link  -->
        <header><h1>CoMedical Commissions: Admin Dashboard</h1></header>
        <main>
            change commission parameters here
        </main>
        
    </body>
</html>