<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Admin Dashboard: Commissions</title>
        <link rel="stylesheet" href="../src/libs/style/nick-style-lib.css">
        <link rel="stylesheet" href="../src/libs/style/nick-dark-mode.css">
        <link rel="stylesheet" href="../src/libs/style/comedical.css">
    </head>
    <body>
        <img src="/views/images/comedical-logo-new.jpg" class="comedical-logo-header">
        <header><h1>CoMedical Commissions: Admin Dashboard</h1></header>
        <main>
            change cimmission parameters here
        </main>
    </body>
</html>