<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Admin Dash Login</title>
        <link rel="stylesheet" href="../src/libs/style/nick-style-lib.css">
        <link rel="stylesheet" href="../src/libs/style/nick-dark-mode.css">
        <link rel="stylesheet" href="../src/libs/style/comedical.css">
    </head>
    <body>
        <img src="/views/images/comedical-logo-new.jpg" class="comedical-logo-header">
        <header><h1>Enter Admin Username and Password:</h1></header>
        <main>
            <form>
                <label for="username">Username:</label><input type="text" name="username">
                <label for="password">Password:</label><input type="password" name="password">
            </form>
        </main>
    </body>
</html>